{% extends "layout.html" %}

{% block body %}
<div class="row" style= "max-width: 100%;">
    <div class="col-md-3 mx-auto">
        <div class="col-lg-8 mt-4">
            <h3>Makaleler</h3>
        </div>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-md-3 mx-auto">
        <div class="col-lg-16">
            <form class="d-flex">
                {% csrf_token %}
                <input class="form-control me-2" name = "keyword" type="search" placeholder="Makale Ara" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ara</button>
            </form>
        </div>
    </div>
</div>

<hr>

{% if articles %}

{% for article in articles %}
<div class="row" style: "max-width: 100%;">
    <div class="col-md-5 mx-auto">
        <div class = "col-lg-24">
            <div class="card" style="margin-bottom: 20px; width: 100%;">
                <div class="card-body">
                    <a style = "text-decoration: none;" href="{% url 'article:detail' article.id %}">
                        <h5 class="card-title"> {{article.title}}</h5>
                    </a>
                    <div class="badge bg-secondary text-decoration-none link-light" href="">
                        {{article.article_type}}
                    </div>
                    <h6 class="card-subtitle mb-2 mt-2 text-muted">{{article.publisher}}</h6>
                    <div class="badge bg-secondary text-decoration-none link-light" href="">
                        {{article.keywords}}
                    </div>
                    <p class="card-text">{{article.content|safe|truncatewords:20}}</p>
                    <hr>
                    <div class="text-muted fst-italix mb-2">
                        siteye eklenme tarihi {{article.created_date}}
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<div class="row" style = "max-width: 100%;">
    <div class="col-md-8 offset-md-4">
        <div class="col-lg-8">
            <div class = "alert alert-danger">
                Henüz Bir Makale Yayınlamadık. Bizimle makaleleriniz, yazılarınızı paylaşmak isterseniz <strong>etugenbilgi@gmail.com</strong> adresinden iletişime geçebilirsiniz.
            </div>
        </div>
    </div>
</div>

{% endif %}



{% endblock body %}
